<html>
<!--  {{ ansible_managed }} -->

<head>
  <title>Welcome to {{ ansible_fqdn }}</title>
</head>

<body>
  <h1>Welcome to {{ ansible_fqdn }}!</h1>

  <p>This site is the default page set up by <a href="http://www.ansible.com/">Ansible</a>.</p>

</body>

</html>